h1 {
    text-align: center;
}

section.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: row;
}

#playerOne {
    position: relative;
    border: 2px solid gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 188px;
}

#playerOneZone1 {
    border-bottom: 2px solid gray;
    height: 102px;
}

#playerOneZone2 {
    position: relative;
    border-bottom: 2px solid gray;
    height: 102px;
}

#name1 {
    margin: 0;
    position: absolute;
    left: 36px;
    top: 10px;
}

.nameButton1 {
    width: 55px;
    height: 21px;
    position: absolute;
    left: 87px;
}

.nameField1 {
    border-radius: 15px;
    width: 85px;
    position: absolute;
    left: -20px;
}

#symbol1 {
    position: absolute;
    top: 53px;
    left: 43px;
    font-size: 20px;
    margin: 0;
}

.symbolButton1 {
    position: absolute;
    left: 80px;
    top: 7px;
}

table, td, th {
    border: 2px solid gray;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
}

th {
    width: 200px;
    height: 100px;
}

#playerTwo {
    position: relative;
    border: 2px solid gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 188px;
}

#playerTwoZone1 {
    border-bottom: 2px solid gray;
    height: 102px;
}

#playerTwoZone2 {
    position: relative;
    border-bottom: 2px solid gray;
    height: 102px;
}

#name2 {
    margin: 0;
    position: absolute;
    left: 36px;
    top: 10px;
}

.nameButton2 {
    width: 55px;
    height: 21px;
    position: absolute;
    right: -32px;
}

.nameField2 {
    border-radius: 15px;
    width: 85px;
    position: absolute;
    right: -140px;
}

#symbol2 {
    position: absolute;
    top: 53px;
    left: 43px;
    font-size: 20px;
    margin: 0;
}

.selectSymbol2 {
    position: absolute;
    right: -102px;
}

.symbolButton2 {
    position: absolute;
    right: -25px;
    top: 7px
}

.x {
    color: black;
    font-size: 80px;
}

.o {
    color: black;
    font-size: 80px;
    } 

.playerScore1 {
    position: absolute;
    left: 55px;
    top: 37px;
    font-size: 22px;
}

.playerScore2 {
    position: absolute;
    left: 55px;
    top: 37px;
    font-size: 22px;
}


#playerWinner, #playerWinner2 {
    font-weight: 900;
    font-size: 30px;
    margin: 25px;
}

#resetBtn {
    position: absolute;
    left: 875px;
    top: 420px;
    border-radius: 20px;
    padding: 20px 50px;
    font-size: 35px;
    background-color:firebrick;
    border-color: firebrick;
    border: none;
    color: white;
}

#resetBtn:hover {
    background-color: red;
    cursor: pointer;
}

#resetBtn:active {
    transform: scale(0.95);
}

select {
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.playerScore1, .playerScore2 {
    margin: 0;
}